<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/main.css">

</head>
<body>

     <div class="login-box">

        <h1>Create New Product</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${product}"
            method="post">
 
          
                    <label for="username">Name</label>
                    <input type="text" th:field="*{name}"  placeholder="Enter Username" />
               
                    <label for="username">Brand</label>
                    <input type="text" th:field="*{brand}" />
               
                    <label for="username">Description</label>
                    <input type="text" th:field="*{description}" />
                
                    <label for="username">Price</label>
                    <input type="text" th:field="*{price}" />
               
                    <button type="submit">Save</button>
               
        </form>
    </div>

</body>
</html>